@charset "UTF-8";
/* generales */
html {
  /* etiqueta raíz */
  font-size: 62.5%; }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Montserrat'; }

/* header */


@mixing header {
  background-color: #001F3F;
  width: 100%;
  height: 100px;
  padding: 10px; }

header nav .flexMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  padding: 40px;
  font-size: 2rem; }

.flexMenu li a {
  text-decoration: none;
  color: #4c00ff; }

header h1 {
  color: #0095ff;
  font-size: 2.5rem;
  text-align: center;
  padding: 40px; }



/* Footer */
footer {
  background-color: #e1eef7;
  width: 100%;
  height: 100px;
  padding: 50px 0 0 0; }

footer h5 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center; }
