.biografia{  
    width: 480px; 
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 20px;
    padding-bottom: 1px;  
    background-color: #ceecec; 
    padding-left: 18px; 
    }